
  .header_inner {
    min-width: 320px;
    position: fixed;
    margin: 0 auto;
    top: 0;
    background-color: $background_color;
    max-width: 1170px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  

  .logo {
    img {
      padding-left: 30px;
    }
    height: 100%;
    z-index: 2;
    background-color: $background_color;
    display: flex;
    align-items: center;
  }

  .desktop_nav {
    margin-right: 30px;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        margin: auto 15px;
      }
    }
  }

  .mobile_nav {
    display: none;

    .icon_menu {
    margin-right: 30px;
    }

    nav {
      z-index: 2;
      position: absolute;
      left: 0px;
      top: 60px;
      width: 290px;
      background-color: $background_color;

      li {
        padding: 10px 0;
        padding-left: 30px;
        cursor: pointer;

        &:nth-child(5n + 1) {
          border-top: 1px solid #e7e7e7;
          padding-top: 20px;
        }

        &:nth-child(5n) {
          padding-bottom: 20px;
        }
      }
    }

    .opacity {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(24, 24, 24, 0.7);
      z-index: 1;
    }
  }
}

/* For smartphones and tablets */
@media screen and (max-width: 768px) {
  .header {
    .logo {
      width: 290px;
    }
    .desktop_nav {
      display: none;
    }

    .mobile_nav {
      display: block;
    }
  }
}

@media screen and (max-width: 360px) {
  .header {
    .logo {
      width: 270px;
    }
    .mobile_nav {
      .icon_menu {
        margin-left: 15px;
        margin-right: 15px;
      }
    nav {
      width: 270px;
   }
  }
 }
}

.header_intro{
  margin-top: 60px;
  width: 100%;
  color: $background_color;
  padding-left: 30px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  background-image: url(../../Assets/banner-photo.jpg);
  background-size: cover;
  //background-position: ;


h1{
  text-transform: uppercase;
  font-size: 50px;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 540px;
}
p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  max-width: 540px;

}

a{
  width: 210;
  color: $background_color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;


  span{
    margin: 10px auto;
  }
}
}